body{
	background: #bdbdbd;
	margin: 0px;
}

h1{
    margin: auto;
    text-align: center;
    background: white;
	padding: 10px;
}
.post{
    margin-top: 25px;
	background: white;
}
.post img {
	width: 100%
}
.post h2, .post p {
	padding: 10px;
}

.container{
	margin: auto;
	width: 600px;
}
.tittle {
	display: inline-block;
	width: 80%;
}
.date {
	display: inline;
	padding: 10px;
	text-align:right;
	color: gray;
}